.wrapper {
    padding: 16px;
    /* border: 1px solid blue; */
    height: calc(100% - 32px);
}

.footerWrapper {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerDelBtn {
    border: 1px solid #eee;
    background-color: #00d3ff;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.9);
    padding: 0 8px;
    height: 25px
}